

.chef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: none;
  padding: none;
}


@media only screen and (max-width: 767px) {
  .chef-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .chef-card {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .chef-card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .chef-card {
    flex-basis: calc(100% - 20px);
    margin-bottom: 20px;
  }
}

.recipe-card{
  margin: none;
  padding: none;
}

.chef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: none;
  padding: none;
}