.chef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chef-card {
  max-width: 550px;
  margin: 10px;
}
@media only screen and (max-width: 767px) {
  .chef-cards {
    flex-wrap: wrap;
  }
  .chef-card {
    flex-basis: 100%;
  }
}
