.chef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.chef-card {
  max-width: 350px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .chef-cards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .chef-card {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }



}